# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
env/
venv/

# Build / Dist
build/
dist/
*.spec

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Data files (لو عندك ملفات خاصة)
*.xlsx
*.csv
